* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.txt {
  width: 200px;
  height: auto;

  background-color: #cccccc;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.txt .teste,
.teste2 {
  list-style: none;
}
