* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

strong {
  color: #ff0000;

  text-transform: uppercase;

  margin-top: 10px;
}

#txt,
#txt2 {
  width: 200px;
  height: auto;

  background-color: #cccccc;

  display: flex;
  align-items: center;
  flex-direction: column;
}

#txt {
  margin-bottom: 20px;
}

#txt ul {
  list-style: none;
}

#txt2 ul {
  list-style: none;
}
